= render 'shared/errors', obj: topic
= form_with(model: topic) do |form|
  %div.form-group.row.mb-4
    = form.label :name, "Name:", class: "col-form-label fs-5 fw-bolder text-start"
    %div
      = form.text_area :name, class: "form-control shadow rounded", rows: 2
    = form.label :description, "Description:", class: "col-form-label fs-5 fw-bolder text-start"
    %div
      = form.text_area :description, class: "form-control shadow rounded", rows: 5
    = form.label :category_ids, "Select category:", class: "col-form-label fs-5 fw-bolder text-start"
    %div
      = form.collection_check_boxes(:category_ids, @categories, :id, :name) do |b|
        %p{class: "mb-1 text-start"}
          = b.check_box class: "form-check-input"
          = b.label
  %div.text-end
    = form.submit class: "btn btn-outline-success shadow"
