%div.container.mt-3.text-center
  %div.mb-3.fs-3.fw-bolder
    Topics:
= will_paginate(@topics,
  class: 'container custom-pagination text-center',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')

%div.container
  - @topics.each do |topic|
    %div.card.text-center.shadow.rounded.mb-3.mt-3
      %div.card-header.text-start
        %div.fs-4.fw-bolder
          = topic.name
        %div.mt-2
          - topic.categories.each do |cat|
            = link_to cat.name, category_path(cat), class: 'btn btn-outline-secondary btn-sm ms-1'
      %div.card-body.text-start
        %div.fs-6
          = truncate(topic.description, length: 100)
      %div.card-footer.text-end
        = link_to 'Discussion', topic, class: "btn btn-outline-primary m-1"
        - if can? :update, topic
          |
          = link_to 'Edit', edit_topic_path(topic), class: "btn btn-outline-primary m-1"
        - if can? :destroy, topic
          |
          = link_to 'Destroy', topic, method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-outline-danger m-1"

  %div.container.text-center.mb-3
    - if can? :create, Topic
      = link_to 'New Topic', new_topic_path, class: "btn btn-outline-success"

  = will_paginate(@topics,
    class: 'container custom-pagination text-center mb-2',
    inner_window: 1,
    outer_window: 0,
    previous_label: '<',
    next_label: '>')
