= form_with(model: user) do |form|
  - if user.errors.any?
    %div.alert.alert-danger
      %h3
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:

      %ul
        - user.errors.full_messages.each do |message|
          %li
            = message

  %div.form-group.row.mb-2
    = form.label :name, "Name:", class: "col-form-label fs-5 fw-bolder"
    %div
      = form.text_field :name, class: "form-control shadow rounded"

  %div.form-group.row.mb-2
    = form.label :email, "Email:", class: "col-form-label fs-5 fw-bolder"
    %div
      = form.text_field :email, class: "form-control shadow rounded"

  %div.form-group.row.mb-2
    = form.label :password, "Password:", class: "col-form-label fs-5 fw-bolder"
    %div
      = form.password_field :password,
      placeholder: "Leave blank if unchanged",
      class: "form-control shadow rounded"

  %div.form-group.row.mb-4
    = form.label :role, "Select role:", class: "col-form-label fs-5 fw-bolder"
    %div
      = select(:user, :role, User.roles.keys,
      { prompt: true },
      class: "form-select")

  = form.submit class: "btn btn-outline-success shadow mb-3"
