= form_with(model: user) do |form|
  - if user.errors.any?
    %div{class: "alert alert-danger"}
      %h3
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:

      %ul
        - user.errors.full_messages.each do |message|
          %li
            = message

  %div{class: "card"}
    %div{class: "mb-2 mt-3"}
      %h5
        = form.label :name, "Name:"
      %p
        = form.text_field :name, class: "container col-8"

    %div{class: "mb-2"}
      %h5
        = form.label :email, "Email:"
      %p
        = form.text_field :email, class: "container col-8"

    %div{class: "mb-2"}
      %h5
        = form.label :password, "Password:"
      %p
        = form.password_field :password,
        placeholder: "Leave blank if unchanged",
        class: "container col-8"

    %div{class: "mb-2"}
      %h5
        = form.label :role_id, "Select role:"
      %p
        = collection_select(:user, :role_id, Role.all,
        :id,
        :name,
        { prompt: true },
        class: "btn btn-secondary dropdown-toggle col-8")

    %div{class: "mb-3"}
      = form.submit class: "btn btn-success"
