%div{class: "container mt-3 text-center"}
  %h2 Users:

  %table{class: "table table-bordered table-hover"}
    %thead{class: "table-primary"}
      %tr
        %th Name
        %th Email
        %th Role
        %th{colspan: "3"} Allowable actions

    %tbody
      - @users.each do |user|
        %tr{style: "vertical-align: middle"}
          %td
            = user.name
          %td
            = user.email
          %td
            = user.role.name
          %td{class: "text-center"}
            = link_to 'Show', user, class: "btn btn-outline-primary"
          %td{class: "text-center"}
            = link_to 'Edit', edit_user_path(user), class: "btn btn-outline-primary"
          %td{class: "text-center"}
            = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-outline-danger"

  %p
    = link_to 'New User', new_user_path, class: "btn btn-success"
