%div.container.mt-3.text-center
  %h2 Users:

%div.container.col-6.text-center
  %table.table.table-bordered.table-hover.col-6
    %thead.table-primary
      %tr
        %th.col-3 Name
        %th.col-6 Email
        %th.col-2 Role
        %th.col-1{colspan: "3"} Allowable actions

    %tbody
      - @users.each do |user|
        %tr{style: "vertical-align: middle"}
          %td
            = user.name
          %td
            = user.email
          %td
            = user.role.name
          %td.text-center
            = link_to 'Show', user, class: "btn btn-outline-primary"
          %td.text-center
            = link_to 'Edit', edit_user_path(user), class: "btn btn-outline-primary"
          %td.text-center
            = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-outline-danger"

  %div.container.mb-3
    = link_to 'New User', new_user_path, class: "btn btn-success"
