%p
  %strong Name:
  = @user.name

%p
  %strong Email:
  = @user.email

%p
  %strong Role:
  = @user.role.name

%p
  %strong Joined on:
  = @joined_on

%p
  %strong Last logged in on:
  = @last_login

%p
  %strong Sign in count:
  = @user.sign_in_count

%p
  %strong Associated topics:
  = @associated_topics

%p
  %strong Associated categories:
  = @associated_categories

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
