%div.container.mt-3.text-center
  %h2 User:

%div.container.col-4.text-center
  %div.card.p-3.mb-3
    %h5
      %strong Name:
    %p
      = @user.name

    %h5
      %strong Email:
    %p
      = @user.email

    %h5
      %strong Role:
    %p
      = @user.role.name

    %h5
      %strong Joined on:
    %p
      = @joined_on

    %h5
      %strong Last logged in on:
    %p
      = @last_login

    %h5
      %strong Sign in count:
    %p
      = @user.sign_in_count

    %h5
      %strong Associated topics:
    %p
      = @associated_topics

    %h5
      %strong Associated categories:
    %p
      = @associated_categories

%div.container.text-center.mb-3
  = link_to 'Edit', edit_user_path(@user), class: "btn btn-primary"
  |
  = link_to 'Back', users_path, class: "btn btn-primary"
