<div class="container-fluid mt-3 mb-3 text-center">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="card">
      <div class="mb-2 mt-3">
        <h5>
          <%= f.label :email, "Email:" %>
        </h5>
        <p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </p>
      </div>

      <div class="mb-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center mb-3">
  <%= render "devise/shared/links" %>
</div>
