<div class="container-fluid mt-3 mb-3 text-center">
  <h2>Log in:</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="card">
      <div class="mb-2 mt-3">
        <h5>
          <%= f.label :email, "Email:" %>
        </h5>
        <p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </p>
      </div>

      <div class="mb-2">
        <h5>
          <%= f.label :password, "Password:" %>
        </h5>
        <p>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </p>
        <p>
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          <% end %>
        </p>
      </div>

      <div class="mb-3">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center mb-3">
  <%= render "devise/shared/links" %>
</div>
