%div{class: "container mt-3"}
  %h2 Role:

  %div{class: "card p-3 mb-3"}
    %p
      %strong Name:
      = @role.name

    %p
      %strong Description:
      = @role.description

    %p
      %strong Associated users:
      = @associated_users

  = link_to 'Edit', edit_role_path(@role), class: "btn btn-primary"
  |
  = link_to 'Back', roles_path, class: "btn btn-primary"
