= render 'shared/errors', obj: post
= form_with(model: post) do |form|
  %div.form-group.row.mb-4
    = form.label :name, "Name:", class: "col-form-label fs-5 fw-bolder text-start"
    %div
      = form.text_area :name, class: "form-control shadow rounded", rows: 3
    = form.label :body, "Content:", class: "col-form-label fs-5 fw-bolder text-start"
    %div
      = form.text_area :body, class: "form-control shadow rounded", rows: 10
    = form.hidden_field :topic_id, value: topic_ref

  %div.text-end
    = form.submit class: "btn btn-outline-success shadow"
