= form_with(model: post) do |form|
  - if post.errors.any?
    %div{class: "alert alert-danger"}
      %h3
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:

      %ul
        - post.errors.full_messages.each do |message|
          %li
            = message

  %div{class: "card"}
    %div{class: "mb-2 mt-3"}
      %h5
        = form.label :name, "Name:"
      %p
        = form.text_field :name

    %div{class: "mb-2"}
      %h5
        = form.label :body, "Post:"
      %p
        = form.text_area :body, rows: "10"

    = form.hidden_field :topic_id, value: topic_ref

    %div{class: "mb-3"}
      = form.submit class: "btn btn-success"
