%div{class: "container mt-3 mb-3 text-center"}

  %h2{class: "mb-3"}
    = @post.name

  %p
    %strong Created by:
    = @created_by.name

  %p
    %strong Owned by:
    = @associated_topic.name

  %h3
    Content:
  %p
    = @post.body


  %p
    - if can? :update, @post
      = link_to 'Edit', edit_post_path(@post), class: "btn btn-primary"
      |
      = link_to 'Back', @associated_topic, class: "btn btn-primary"
