= render 'shared/errors', obj: category
= form_with(model: category) do |form|
  %div.form-group.row.mb-4
    = form.label :name, "Name:", class: "col-form-label fs-5 fw-bolder text-start"
    %div
      = form.text_field :name, class: "form-control shadow rounded"

  %div.text-end
    = form.submit class: "btn btn-outline-success shadow"
