%div.card.text-center.shadow.rounded.mb-3.mt-3
  %div.card-header
    %div.fs-5.fw-bolder
      = @category.name
  %div.card-body.text-start
    %strong Created by:
    = created_by(@user)

%div.container.mt-3.text-center
  %div.mb-3.fs-3.fw-bolder
    Topics:

= will_paginate(@associated_topics,
  class: 'container custom-pagination text-center',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')

%div.container.mb-3
  - if @associated_topics.present?
    - @associated_topics.each do |topic|
      %div.card.text-center.shadow.rounded.mb-3.mt-3
        %div.card-header
          %div.fs-5.fw-bolder
            = topic.name
        %div.card-body.text-start
          %div.fs-6
            = topic.description
        %div.card-footer.text-end
          = link_to 'Show', topic, class: "btn btn-outline-primary"
  - else
    %p.text-center
      "None"

%div.container.text-center.mb-3
  - if can? :update, @category
    = link_to 'Edit', edit_category_path(@category), class: "btn btn-outline-primary"
    |
    = link_to 'Back', categories_path, class: "btn btn-outline-primary"

= will_paginate(@associated_topics,
  class: 'container custom-pagination text-center mb-2',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')
