%div.container.mt-3.mb-3.text-center

  %h2
    = @category.name

  %p
    %strong Created by:
    = @created_by.name

  %h3
    Topics:

%div.container.col-8.text-center
  - if @associated_topics.present?
    %table.table.table-bordered.table-hover
      %thead.table-primary
        %tr
          %th.col-3 Name
          %th.col-8 Description
          %th.col-1{style: "text-align: center", colspan: "3"} Action

      %tbody
        - @associated_topics.each do |topic|
          %tr{style: "vertical-align: middle"}
            %td
              = topic.name
            %td
              = topic.description
            %td
              = link_to 'Show', topic, class: "btn btn-outline-primary"
  - else
    %p
      "None"

  %div.container.text-center.mb-3
    - if can? :update, @category
      = link_to 'Edit', edit_category_path(@category), class: "btn btn-primary"
      |
      = link_to 'Back', categories_path, class: "btn btn-primary"
