%div{class: "container mt-3 mb-3 text-center"}

  %h2
    = @category.name

  %p
    %strong Created by:
    = @created_by.name

  %h3
    Topics:

  - if @associated_topics.present?
    %table{class: "table table-bordered table-hover"}
      %thead{class: "table-primary"}
        %tr
          %th Name
          %th Description
          %th{style: "text-align: center", colspan: "3"} Action

      %tbody
        - @associated_topics.each do |topic|
          %tr{style: "vertical-align: middle"}
            %td
              = topic.name
            %td
              = topic.description
            %td
              = link_to 'Show', topic, class: "btn btn-outline-primary"
  - else
    %p
      "None"

  %p
    - if can? :update, @category
      = link_to 'Edit', edit_category_path(@category), class: "btn btn-primary"
      |
      = link_to 'Back', categories_path, class: "btn btn-primary"
