<!DOCTYPE html>
<html>
  <head>
    <title>Forum1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-flex col-12">
    <div class="d-flex flex-column">
      <div class="row">
        <%= render 'layouts/navigation' %>
      </div>
    </div>

    <%= render 'layouts/messages' %>
    <%= yield %>

    <div id="myModal">
      <div id="mCont" class="alert alert-danger fade show text-center">
        <div class="alert-heading">
          <strong>CONFIRMATION REQUIRED</strong>
        </div>
        <div>
          <p>Do you want permanent destroy this object?</p>
        </div>
        <div>
          <button id="btnYes" class="btn btn-danger">Destroy</button>
          <button id="btnNo" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>

  </body>
</html>
